.error404{
    fieldset{
        border: none;

        input {
            background: $color_background-main;
        }
    }

     @media screen and (min-width: 480px) {
    margin: 10% 2%;
     }
}