footer {
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-end;
    align-items: flex-end;
    width: $fixed_width;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    @media all and (min-width: 1240px) {
        margin-bottom: 5%;
    }
}