.blog{
     background: $color_background-main;

               #quote-btn{
                    width: 200px;
                    height: 45px;
                    font-size: 16px;
               }

     @media all and (min-width: 1240px) {
          .site-header{
               width: $fixed_width;
               margin-right: auto;
               margin-left: auto;
               margin-top: 5%;

               .header-logo{
                    display:flex;
                    justify-content: center;
               }
          }

          .site-main {
               display: grid;
               grid-template-columns: repeat(5, 1fr);
               grid-row-gap: 20%;
               width: $fixed_width;
               margin-right: auto;
               margin-left: auto;
               margin-bottom: 10%;
               margin-top: 5%;

                .fa-quote-left{
                         grid-column: 1 / 2;
                         grid-row: 1 /2;
                         justify-self: center;
                         font-size: $base_font_size * 5;
                         color: $color_brand-green;
                   }

                .fa-quote-right{
                              grid-column: 5 / 6;
                               grid-row: 1 /2;
                              justify-self: center;
                              font-size: $base_font_size * 5;
                              color: $color_brand-green;
                         }

               .quotes-container{
                    grid-column: 2 / 5;
                  
                    .quote-content {
                         grid-column: 2 / 5;
                         font-size: $base_font_size * 2;
                    }
                        
                              h3{
                                   grid-column: 2 / 5;
                                   font-size: $base_font_size;
                              }
               }
                    #quote-btn{
                         grid-column: 3 / 4;
                         width: 200px;
                         height: 45px;
                         font-size: 16px;
                    }

          }

          
     }

}