/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
}

/* Menus */

	.main-navigation,
	.menu-menu-1-container {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	flex-wrap: wrap;
		#primary-menu{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 50%;
			padding-top: 10px;
			li {
				list-style-type:  none;
			}
		}

	}



@media screen and (min-width: 600px) {
	footer{
		display: flex;
		flex-wrap: nowrap;
		align-content: flex-start;
	}

	.site-info{
		width: 70%;
	}
	.main-navigation,
	.menu-menu-1-container {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	flex-wrap: nowrap;
		#primary-menu{
			display: flex;
			flex-wrap: nowrap;
			align-content: flex-start;
			justify-content: space-around;
			width: 70%;
			padding-top: 10px;
			li {
				align-self: flex-start;
				list-style-type:  none;
			}
		}

	}
}

@media screen and (min-width: 1040px) {
	footer{
		display: flex;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-end;
		width: 100%;
	}

	.site-info{
		justify-self: flex-end;
		width: 70%;
	}
	.main-navigation,
	.menu-menu-1-container {
	display: flex;
	justify-content: flex-end;
	align-content: flex-start;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	flex-wrap: nowrap;
		#primary-menu{
			display: flex;
			flex-wrap: nowrap;
			align-content: flex-end;
			justify-content: space-around;
			width: 70%;
			padding-top: 10px;
			li {
				align-self: flex-start;
				list-style-type:  none;
			}
		}

	}
}

