/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
}

/* Menus */

	// .main-navigation,
	// .menu-menu-1-container {
	// display: flex;
	// justify-content: flex-start;
	// width: 100%;
	// margin-right: auto;
	// margin-left: auto;
	// flex-wrap: wrap;
	// 	#primary-menu{
	// 		display: flex;
	// 		flex-wrap: wrap;
	// 		justify-content: space-between;
	// 		width: 50%;
	// 		padding-top: 10px;
	// 		li {
	// 			list-style-type:  none;
	// 		}
	// 	}

	// }

	// .primary-menu{
    //     display: flex;
    //     justify-content: space-between;
    // }



@media all and (min-width: 600px) {
	

}

@media all and (min-width: 1240px) {

	.main-navigation,
	.menu-menu-1-container {
	display: flex;
	justify-content: flex-end;
	width: 75%;
		#primary-menu{
			display: flex;
			flex-wrap: nowrap;
			align-content: flex-end;
			justify-content: space-between;
			width: 50%;
			li {
				list-style-type:  none;
			}
		}

	}

	.site-info{
		display: flex;
		justify-content: flex-end;
		width: 25%;
		p{
			margin-bottom: 0;
		}
	}
	
}

