/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
}

	.main-navigation,
	.menu-menu-1-container {
	display: flex;
	justify-content: flex-start;
	width: 100%;
		#primary-menu{
			display: flex;
			flex-wrap: nowrap;
			align-content: flex-end;
			justify-content: space-between;
			width: 100%;
			li {
				list-style-type:  none;
			}
		}

	}

	.site-info{
		display: flex;
		justify-content: flex-start;
		margin-top: 5%;
		width: 100%;
		p{
			margin-bottom: 0;
		}
	}

 @media all and (min-width: 640px) {

	.main-navigation,
	.menu-menu-1-container {
		#primary-menu{
			justify-content: space-around;
			li {
				list-style-type:  none;
			}
		}

	}

	.site-info{
		justify-content: flex-end;
		margin-top: 0;
	}

}



@media all and (min-width: 1240px) {

	.main-navigation,
	.menu-menu-1-container {
	justify-content: flex-end;
	width: 75%;
		#primary-menu{
			width: 50%;
		}

	}

	.site-info{
		justify-content: flex-end;
		width: 25%;
	}
	
}

