.page-id-213{
      @media all and (min-width: 1240px) {
          .site-header{
               width: $fixed_width;
               margin-right: auto;
               margin-left: auto;
               margin-top: 5%;

               .header-logo{
                    display:flex;
                    justify-content: center;
               }
          }

               .site-main {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    width: $fixed_width;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 10%;
                    margin-top: 5%;
                          .fa-quote-left{
                         grid-column: 1 / 2;
                         grid-row: 1 / 2;
                         justify-self: center;
                         font-size: $base_font_size * 5;
                         color: $color_brand-green;
                         }

                         h1{
                            grid-column: 2 / 3;
                         }

                         p{
                            grid-column: 2 / 3;
                         }

                         a{
                           grid-column: 2 / 3;
                         }

                         form {
                              grid-column: 2 / 3;
                         }

                         .fa-quote-right{
                              grid-column: 3 / 4;
                              grid-row: 1 / 2;
                              justify-self: center;
                              font-size: $base_font_size * 5;
                              color: $color_brand-green;
                         }

               }
     }
}